.container
  %h2.board_name= @board.name
  .board
    .board_content
    = @board.description

.container
  = link_to new_board_task_path(@board) do
    .float_btn
      %i.fa.fa-plus Add new card
   