@import './variables';

.btn-primary {
  position: absolute;
  background-color: $primary-color;
  border: none;
  width: 85%;
  height: 40px;
  top: 889px;
  left: 30px;
  color: white;
  border-radius: 4px;
}
