@import 'variables';

$heart-size: 16px;
$avatar-size: 32px;

.card {
  background-color: #f4f4f4;
  margin: 16px 0;
  padding: 16px 16px;
  border-radius: 10px;
  position: relative;

  &_title {
    font-size: 22px;
  }

  &_content {
    padding-top: 10px;
    display: flex;
    font-size: 12px;
    position: relative;

    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }

    &_actions {
      right: 0px;
      position: absolute;
    }
  }

  &_description {
    padding: 24px 0 32px;
  }
}