$heart-size: 32px;
$avatar-size: 32px;
$container-padding: 16px;

.board_task {
  background-color: #f4f4f4;
  margin: 16px 16px;
  padding: $container-padding $container-padding;
  border-radius: 10px;
  position: relative;
}